.toast {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #333;
    color: white;
    font-size: 14px;
    position: fixed;
    top: 20px;
    left: auto;
    right: 20px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    transition: display .3s allow-discrete, overlay .3s allow-discrete;
    animation: slideOut .3s cubic-bezier(0.55, 0.085, 0.68, 0.53);

    &:popover-open {
        animation: slideIn .3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    }
}

.toast-success {
    background-color: #4caf50;
}

.toast-error {
    background-color: #f44336;
}

.toast-info {
    background-color: #2196f3;
}

@keyframes slideIn {
    from {
        translate: 120% 0;
    }

    to {
        translate: 0 0;
    }
}

@keyframes slideOut {
    from {
        translate: 0 0;
    }

    to {
        translate: 120% 0;
    }
}
