<section id="list">
    <button hx-post="/components/buttons/list" hx-swap="outerHTML" hx-target="#list">
        x
    </button>
    <ol>
        <li>
            <p>Hendrerit praesent imperdiet curae commodo erat luctus sociosqu adipiscing. Magnis sem dui ac ex sodales. </p>
        </li>
        <li>
            <p>Lobortis duis in ac pellentesque magna semper hac diam. Aliquet ut tellus ut; sapien sodales finibus nunc. </p>
        </li>
        <li>
            <p>Class placerat aliquam platea curae pharetra rutrum placerat. Aliquam congue nisl dapibus mauris finibus porttitor. </p>
        </li>
        <li>
            <p>Velit semper euismod nec amet ante. Luctus congue vel fringilla proin nisl. Mauris morbi mi vivamus varius class porta.</p>
        </li>
    </ol>
</section>