<button
    class="min-w-32 h-8 inline-flex justify-center items-center gap-3
        border border-solid border-emerald-500 text-emerald-500
        text-sm uppercase px-4 rounded cursor-pointer hover:bg-emerald-50 dark:hover:bg-gray-700
        focus:outline-emerald-500"
    hx-post="/components/list" hx-swap="outerHTML">
    Render List
</button>