<footer class="sticky z-10 bottom-0 col-[edge] row-[footer] flex justify-center items-center bg-emerald-900">
    <p class="text-center text-emerald-100">
        &#169; <small class="text-sm">2025</small>
    </p>
</footer>