<header class="col-[edge] row-[header] grid grid-cols-subgrid bg-white
    dark:bg-gray-700">
    <div class="col-[body] h-full flex justify-start items-center">
        <h1 class="text-3xl font-bold dark:text-gray-50">HTMX Website</h1>
    </div>
</header>