<nav class="col-[edge] row-[nav] grid grid-cols-subgrid bg-emerald-50 text-emerald-600
    sticky top-0 z-50 border-y border-solid border-emerald-400
    dark:bg-emerald-900 dark:text-emerald-100 dark:border-emerald-600">
    <ul class="col-[body] h-full flex justify-start items-center gap-5">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
    </ul>
</nav>